.profile-block{
    padding-left:100px;
}

.profile-pic-container{
    display:flex;
}
.profile{
    padding-top:8px;
}
.dp{
    margin-left:20px;
    color:white;
    font-size: 25px;
    background-color: #00B074;
    padding-left:19px;
    padding-right:19px;
    padding-top:12px;
    padding-bottom:12px;
    border-radius:50px;
}
span{
    font-weight: bold;
}
footer{
    margin-top:50px;
}

.edit{
   
  
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 16px;
    
  
   
}
.log{
   
  
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 16px;
    
  
   
}
