form{
    /* border:2px solid red; */
    width:40vw;
    margin:auto;
    text-align: center;
    font-family: 'inter';
}
input{
    margin-bottom: 
        20px;
        padding:80px;
        height:70px;
}
label{
    position: absolute;
    border:1px solid black;
    margin-left:10px;
    padding:3px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius:2px;
}
input[type='file']::-webkit-file-upload-button{
    visibility: hidden;
   
}
input[type='file']::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    margin-top:5px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }